In [50]:
import pandas as pd

In [51]:
FILE_PATH = r"C:\Users\andre\DIOManagerBot\raw\price_1c.xls"

In [52]:
df = pd.read_excel(FILE_PATH)
df.head(3)

,Unnamed: 0,"Прайс-лист фирмы ""1С""",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,28 марта 2025,Unnamed: 9,Unnamed: 10
0,Код,Наименование,NaN,Валюта *,Рекомендованная цена,Цена для дилера,Цена для пост партнера,Ставка НДС РФ**,Дата начала продаж,Единый реестр российских программ,Комментарий
1,Раздел 1. 1С:ПРЕДПРИЯТИЕ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.1. Программные продукты 1С:Предприятие 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df.shape

(8992, 11)

In [54]:
new_columns = df.iloc[0].values.tolist()
df.columns = new_columns
df = df.iloc[1:, :]
df.head(5)

,Код,Наименование,NaN,Валюта *,Рекомендованная цена,Цена для дилера,Цена для пост партнера,Ставка НДС РФ**,Дата начала продаж,Единый реестр российских программ,Комментарий
1,Раздел 1. 1С:ПРЕДПРИЯТИЕ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.1. Программные продукты 1С:Предприятие 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1С:Предприятие 8 для Азербайджана,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4601546118561,1С:Бухгалтерия 8 для Азербайджана. Электронная...,NaN,USD,276,138,124,20%,07.08.2015,NaN,Цена действительна для покупателей нерезиденто...
5,4601546061621,1С:Бухгалтерия 8 для Азербайджана. Комплект на...,NaN,USD,594,297,267,20%,01.10.2015,NaN,Цена действительна для покупателей нерезиденто...

In [55]:
df = df.dropna(subset=['Наименование'])
df.head(3)

,Код,Наименование,NaN,Валюта *,Рекомендованная цена,Цена для дилера,Цена для пост партнера,Ставка НДС РФ**,Дата начала продаж,Единый реестр российских программ,Комментарий
4,4601546118561,1С:Бухгалтерия 8 для Азербайджана. Электронная...,NaN,USD,276,138,124,20%,07.08.2015,NaN,Цена действительна для покупателей нерезиденто...
5,4601546061621,1С:Бухгалтерия 8 для Азербайджана. Комплект на...,NaN,USD,594,297,267,20%,01.10.2015,NaN,Цена действительна для покупателей нерезиденто...
6,2900001741507,1С:Зарплата и управление персоналом 8 для Азер...,NaN,USD,406,203,183,20%,05.09.2016,NaN,Цена действительна для покупателей нерезиденто...

In [56]:
df.shape

(8646, 11)

In [57]:
df = df.drop(df.columns[2], axis=1)
df.head(3)

,Код,Наименование,Валюта *,Рекомендованная цена,Цена для дилера,Цена для пост партнера,Ставка НДС РФ**,Дата начала продаж,Единый реестр российских программ,Комментарий
4,4601546118561,1С:Бухгалтерия 8 для Азербайджана. Электронная...,USD,276,138,124,20%,07.08.2015,NaN,Цена действительна для покупателей нерезиденто...
5,4601546061621,1С:Бухгалтерия 8 для Азербайджана. Комплект на...,USD,594,297,267,20%,01.10.2015,NaN,Цена действительна для покупателей нерезиденто...
6,2900001741507,1С:Зарплата и управление персоналом 8 для Азер...,USD,406,203,183,20%,05.09.2016,NaN,Цена действительна для покупателей нерезиденто...

In [58]:
df = df[["Код",	"Наименование",	"Валюта *",	"Рекомендованная цена"]]
df.head(3)

,Код,Наименование,Валюта *,Рекомендованная цена
4,4601546118561,1С:Бухгалтерия 8 для Азербайджана. Электронная...,USD,276
5,4601546061621,1С:Бухгалтерия 8 для Азербайджана. Комплект на...,USD,594
6,2900001741507,1С:Зарплата и управление персоналом 8 для Азер...,USD,406

In [59]:
df = df[df["Валюта *"] == "руб."]
df.shape

(7946, 4)

In [60]:
df = df.drop("Валюта *", axis=1)

In [61]:
df.to_csv("price_list.csv")